/*FONTS*/
$fontprim: "courier-prime", courier, monospace;
$fontsec: "Quasimoda", Arial, sans-serif;

/*COLORS*/
$darkblue: #00063c;
$pinkred: #a35144;

/*OTHER*/
$mobile_break: 900px;
$mobile_break_small: 500px;
