---
title: Home
order: 1
---

<div class="fullphoto">
  <div class="titel">
    <h1 class="fade-in-top">Sara Francesca Hermann</h1>
    <h2 class="fade-in-bottom">Schauspielerin</h2>
  </div>
</div>

<div class="content">
  <div class="grid">
    <h2>Aktuell</h2>
    <div class="text">
      <h3>Réception 3</h3>
      <p class="italic">Ein komisches Trauerspiel</p>
      <p>Irgendwann endet unser Leben. Wenn wir sterben sind wir tot. Und dann?
Die erste gemeinsame Bühnenarbeit von Sara Francesca Hermann und Roberto Chiriatti. 
<br> Sara und Roberto zeigen auf tragikomische Weise ihre eigene Interpretation des Geheimnisses vom Leben und vom Tod. Dabei kreieren sie auf respektvolle Art komische, ironische und poetische Welten.
Ein unsentimentales Theaterstück über das Leben und den Tod. Menschlich und mit Humor.</p>
      <p><strong>Konzept/Spiel:</strong> Sara Francesca Hermann, Roberto Chiriatti - <strong>Skript/Regie:</strong> Silvana Gargiulo  - <strong>Musik:</strong> Flurin Caviezel
      <br><a href="/images/202305_SFH_Rec3_99x210mm_web.pdf" class="color1" target="blank">Flyer↗</a>
      </p>
      <p class="color1">
        <strong>Spieldaten</strong>
        <ul>
          <li>19. Mai 2023, 19:30 Uhr, Postremise Chur, <strong>Uraufführung</strong>, <a href="https://www.postremise.ch/events/reception-3" target="blank">Tickets↗ </a></li>
          <li>5. Juli 2023, 20:15 Uhr, Kurhaus Bergün, <a href="https://kurhausberguen.ch/kultur-agenda" target="blank">Tickets↗ </a></li>
        </ul>
      </p>
    </div>
  </div>

  <div class="grid">
    <h2>Kontakt</h2>
    <div class="text">
      <p> Sara Francesca Hermann <br>
          E. <a href="mailto: info@sarafrancesca.ch">info@sarafrancesca.ch</a> <br>
          T. +41 79 596 05 50</p>
    </div>
  </div>
</div>
